@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-site {
    background-image: url("../../public/banner-bg.png");
    color: white;
  }
  .bg-super {
    background: linear-gradient(to left, #001623, #001623, #222231);
    color: white;
  }
  .section {
    @apply py-8 py-24 lg:h-screen flex items-center;
  }
  .model-clamp {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 2rem;
  }
  .skill-card {
    width: clamp(50%, 90%, 410px);
  }
  .progress-bar {
    @apply absolute h-full bg-gradient-to-r from-pink-600 to-purple-600 rounded-md translate-x-0;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    animation-delay: 1.4s;
  }

  @keyframes animate {
    100% {
      transform: scale(1);
    }
  }

  .gradText {
    @apply bg-clip-text bg-gradient-to-r from-pink-500 to-violet-900;
    -webkit-text-fill-color: transparent;
  }

  .active {
    background: linear-gradient(to right, #7c3aed, #db2777);
  }

  .active {
    color: #fff;
    padding: 1rem;
    border-radius: 100%;
  }
}
